<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.deeplinktest">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" android:exported="false">
<intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
            
        <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <!-- <data android:host="deeeplinktestvdv.page.link" android:scheme="http" android:pathPattern=".*"/>
            <data android:host="deeeplinktestvdv.page.link" android:scheme="https" android:pathPattern=".*"/> -->
            <data android:host="deeeplinktestvdv.page.link" android:scheme="https" />
            <!-- <data android:scheme="http"/> -->
            <!-- <data android:scheme="https"/> -->
        </intent-filter>
        </activity>
    </application>
</manifest>
